# Jekyll storage
_site/
.jekyll-metadata

# Junk files
.DS_Store
.dropbox

# e-books
datastyle.pdf

# Generated TeX output
*.tex
!syllabus-psci-8357.tex
!first-day-quiz.tex
!charter-template.tex

# Readings
/readings/
