# Jekyll storage
_site/
.jekyll-metadata

# Junk files
.DS_Store
.dropbox
.Rhistory

# e-books
datastyle.pdf

# Generated TeX output
*.tex
!syllabus-psci-8357.tex
!first-day-quiz.tex
!charter-template.tex

# Readings
/readings/

# Grading
/grading/

# Homework answers
/hw/*/answers*

# Homework makefiles (since they won't work right without answers sources anyway)
/hw/*/Makefile

# Exams
/exams/
