<dl id="instructor_info">
  <dt>Instructor</dt>
  <dd>{{ site.data.course.instructor.name }}</dd>
  <dt>Office</dt>
  <dd>{{ site.data.course.instructor.office }}</dd>
  <dt>Office Hours</dt>
  <dd>{{ site.data.course.instructor.office_hours }}</dd>
  <dt>Contact</dt>
  <dd>
    <ul id="contact">
      <li><b>Email:</b> {{ site.data.course.instructor.email }}</li>
      <li><b>Phone:</b> {{ site.data.course.instructor.phone }}</li>
      <li><b>Twitter:</b> <a href="http://twitter.com/{{ site.data.course.instructor.twitter }}">@{{ site.data.course.instructor.twitter }}</a></li>
    </ul>
  </dd>
</dl>
