/* Don't allow text to get too wide */
.container {
    width: auto;
    max-width: 800px;
    padding: 0 15px;
}
/* Keep the footer at the bottom of the page */
html {
    position: relative;
    min-height: 100%;
}
#body {
    padding-bottom: 60px;       /* Same as footer height */
}
#footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    padding-bottom: 5px;
}
/* Use larger header for page titles */
h1.page-title {
    font-size: 48px;
}
/* Reduce size of description list descriptions */
@media (min-width: 768px) {
    .dl-horizontal dt {
        width: 100px;
    }
    .dl-horizontal dd {
        margin-left: 120px;
    }
}
