<!-- from http://stackoverflow.com/a/14254928/143383 -->
{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ site.data.course.instructor.name }}">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.data.course.description }}{% endif %}">

  <title>{{site.data.course.name}}: {{page.title}}</title>

  <link href="{{relative}}assets/css/bootstrap.min.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="{{relative}}assets/js/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>

<article class="container-fluid">

  <header>
    {% include course_header.html %}
  </header>

  <section id="content">
    {{content}}
  </section>

  <aside>
    {% include instructor_info.html %}
  </aside>

  <footer>
    {% include credits_and_license.html %}
  </footer>

<article>

<!--jQuery & Twitter Bootstrap JavaScript-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{relative}}assets/js/bootstrap.min.js"></script>

</body>
</html>
