---
layout: default
---

<h1>{{site.data.course.number}}: {{site.data.course.name}}</h1>

<div class="row">
  <div class="col-sm-7">
    {{content}}
  </div>

  <div class="col-sm-5">
    <dl class="dl-horizontal">
      <dt>Term</dt><dd>{{site.data.course.term}}</dd>
      <dt>Classroom</dt><dd>{{site.data.course.room}}</dd>
      <dt>Time</dt><dd>{{site.data.course.time}}</dd>
      <dt>Instructor</dt><dd markdown="span">{{site.data.instructor.name}} (<code>{{site.data.instructor.email}}</code>)</dd>
      <dt>Office Hours</dt><dd>{{site.data.instructor.office_hours}}, {{site.data.instructor.office}}</dd>
    </dl>
  </div>
</div>
